#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.post-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.blog-post{
  border: 1px white solid;
  border-radius: 15px;
}
